<div class="site-navbar bg-white py-2">
  <div class="search-wrap">
    <div class="container">
      <a href="#" class="search-close js-search-close"
        ><span class="icon-close2"></span
      ></a>
      <form action="#" method="post">
        <input
          type="text"
          class="form-control"
          placeholder="Search keyword and hit enter..."
        />
      </form>
    </div>
  </div>

  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="logo">
        <div class="site-logo">
          <a href="/" class="js-logo-clone active">Anasayfa</a>
        </div>
      </div>
      <div class="main-nav d-none d-lg-block">
        <nav
          class="site-navigation text-right text-md-center"
          role="navigation"
        >
        <ul class="site-menu js-clone-nav d-none d-lg-block">
          <li class="has-children active">
            <a>Kategoriler</a>
            <ul class="dropdown">
              <li 
  class="has-children" 
  *ngFor="let superCategory of superCategories" 
  (mouseenter)="loadCategoriesBySuperCategoryId(superCategory.superCategoryId)"
>
  <a (click)="navigateToProducts(superCategory.superCategoryId)">
    {{ superCategory.superCategoryName }}
  </a>
  <ul class="dropdown">
    <li *ngFor="let category of filteredCategories">
      <a (click)="navigateToProducts(superCategory.superCategoryId, category.categoryId)">
        {{ category.categoryName }}
      </a>
    </li>
  </ul>
</li>
            </ul>
          </li>
          <li class="active"><a href="contact">Contact</a></li>
          <li class="has-children active" *ngIf="!isAuthenticated()">
            <a (click)="login()">Giriş Yap</a>
            <ul class="dropdown">
              <li><a (click)="register()">Kayıt Ol</a></li>
            </ul>
          </li>
          <li class="has-children active" *ngIf="isAuthenticated()">
            <a>{{ username }}</a>
            <ul class="dropdown">
              <li><a (click)="logout()">Çıkış Yap</a></li>
            </ul>
          </li>
          <li class="active" *ngIf="isAdmin()"><a href="/admin">Admin Page</a></li>
          <li class="active" *ngIf="isAdmin()"><a href="/product-stock-op">Product Operations</a>
            <ul class="dropdown">
             <!-- <li><a (click)="productAdd()">Product and Stock Add</a></li>
               <li><a (click)="productUpdated()">Product Updated</a></li> -->
            </ul>
          </li>
        </ul>                                
        </nav>
      </div>
      <div class="icons">
        <a (click)="goToCart()" class="icons-btn d-inline-block bag">
          <span class="icon-shopping-bag"></span>
          <span class="number">{{ cartItemCount }}</span>
        </a>
      </div>
    </div>
      
  </div>
</div>
