<div *ngIf="isLoading">Yükleniyor...</div>
<div *ngIf="!isLoading && errorMessage" class="error-message">
  {{ errorMessage }}
</div>
<div *ngIf="!isLoading && !errorMessage" style="overflow-x: auto">
    <div class="d-flex align-items-center justify-content-between mb-3 search-container">
        <!-- Sol tarafa Ürün Kodu arama -->
        <div>
          <label for="productCodeSearch">Ürün Kodu :</label>
          &nbsp;
          <input
            id="productCodeSearch"
            type="text"
            [(ngModel)]="searchProductCode"
            (input)="filterProducts()"
            placeholder="Ürün kodu ara"
          />
        </div>
        <button class="btn btn-danger" (click)="navigateToProductStatusHistory()">
          Stok kayıtları
         </button>
        <!-- Sağ tarafa [+] Yeni Ürün -->
        <button class="btn btn-success" (click)="navigateToProductAdd()">
         + Yeni Ürün
        </button>
      </div>
  <table class="table table-hover" >
    <thead>
      <tr>
        <th (click)="sort('productCode')">
          Ürün Kodu
          <span *ngIf="sortKey  === 'productCode'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('productName')">
          Ürün Adı
          <span *ngIf="sortKey  === 'productName'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('productDescription')">
          Açıklama
          <span *ngIf="sortKey  === 'productDescription'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('superCategoryName')">
          Cinsiyet Kategori
          <span *ngIf="sortKey  === 'superCategoryName'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('categoryName')">
          Kategori
          <span *ngIf="sortKey  === 'categoryName'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('unitPrice')">
          Fiyat
          <span *ngIf="sortKey  === 'unitPrice'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('totalStock')">
          Stok
          <span *ngIf="sortKey === 'totalStock'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let product of filteredProducts"
        class="product-row"
      >
        <td>{{ product.productCode }}</td>
        <td>{{ product.productName }}</td>
        <td>{{ product.productDescription }}</td>
        <td>{{ product.superCategoryName }}</td>
        <td>{{ product.categoryName }}</td>
        <td>{{ product.unitPrice | currency : "₺" }}</td>
        <td>
          <button class="btn btn-primary" (click)="productStockUpdate(product.productCode, product.productId)">
            Stokları Görüntüle ({{ product.totalStock || 0 }})
          </button>

          <button 
    class="btn btn-danger ms-2" 
    (click)="deleteProduct(product.productId)" 
    [disabled]="product.totalStock > 0">
    Sil
  </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
