<div class="d-flex mb-3 align-items-center justify-content-between">
  <!-- Sol tarafa FILTER ve RESET FILTERS -->
  <div class="d-flex">
    <!-- FILTER butonu -->
     <!--
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#filterMenu"
      aria-expanded="false"
      aria-controls="filterMenu"
    >
      FILTER
    </button>
    -->
    <button 
      class="btn btn-success"
      type="button"
      (click)="productStockAdd()"
      >
      + Stok Ekle
    </button>
    <!-- RESET FILTERS butonu -->
    <button
      class="btn btn-danger ms-2"
      (click)="resetFilters()"
      *ngIf="isFilterMenuOpen"
    >
      Reset Filters
    </button>
  </div>

  <!-- Sağ tarafa CANCEL -->
  <button
    class="btn btn-danger"
    (click)="navigateToProductStockOp()"
  >
    CANCEL
  </button>
</div>


<div
  class="collapse"
  id="filterMenu"
  (shown.bs.collapse)="onFilterMenuOpen()"
  (hidden.bs.collapse)="onFilterMenuClose()"
>
  <div class="card card-body">
    <form (ngSubmit)="applyFilter()">
      <div class="row">
        <!-- Product Name -->
        <div class="col-md-3">
          <label for="filterProductName" class="fw-bold text-decoration-underline">Product Name</label>
          <div class="d-flex">
            <input
            type="text"
            class="form-control"
            id="filterProductCode"
            [(ngModel)]="filters.productCode"
            placeholder="Product Code"
            name="productCode"
          />
          <input
            type="text"
            class="form-control ms-2"
            id="filterProductName"
            [(ngModel)]="filters.productName"
            placeholder="Product Name"
            name="productName"
          />
        </div>
        </div>

        <!-- Price Range -->
        <div class="col-md-3">
          <label for="filterPriceRange" class="fw-bold text-decoration-underline">Price Range</label>
          <div class="d-flex">
            <input
              type="number"
              class="form-control"
              id="filterPriceMin"
              [(ngModel)]="filters.minPrice"
              name="minPrice"
              placeholder="Min"
            />
            <input
              type="number"
              class="form-control ms-2"
              id="filterPriceMax"
              [(ngModel)]="filters.maxPrice"
              name="maxPrice"
              placeholder="Max"
            />
          </div>
        </div>

        <!-- Stock Range -->
        <div class="col-md-3">
          <label for="filterStockRange" class="fw-bold text-decoration-underline">Stock Range</label>
          <div class="d-flex">
            <input
              type="number"
              class="form-control"
              id="filterStockMin"
              [(ngModel)]="filters.minStock"
              name="minStock"
              placeholder="Min"
            />
            <input
              type="number"
              class="form-control ms-2"
              id="filterStockMax"
              [(ngModel)]="filters.maxStock"
              name="maxStock"
              placeholder="Max"
            />
          </div>
        </div>

        <!-- Size -->
        <div class="col-md-3">
          <label for="filterSize" class="fw-bold text-decoration-underline">Size</label>
          <select
            class="form-select"
            id="filterSize"
            [(ngModel)]="filters.productSize"
            name="productSize"
          >
            <option [value]="null">Select Size</option>
            <option *ngFor="let size of sizes" [value]="size.id">{{ size.name }}</option>
          </select>
        </div>

        <!-- Color -->
        <div class="col-md-3">
          <label for="filterColor" class="fw-bold text-decoration-underline">Color</label>
          <select
            class="form-select"
            id="filterColor"
            [(ngModel)]="filters.colorName"
            name="colorName"
          >
            <option [value]="null">Select Color</option>
            <option *ngFor="let color of colors" [value]="color.colorName">{{ color.colorName }}</option>
          </select>
        </div>

        <!-- Super Category -->
        <div class="col-md-3">
          <label for="filterSuperCategory" class="fw-bold text-decoration-underline">Super Category</label>
          <select
            class="form-select"
            id="filterSuperCategory"
            [(ngModel)]="filters.superCategoryName"
            (change)="onSuperCategoryChange(filters.superCategoryName)"
            name="superCategoryName"
          >
            <option [value]="null">Select Super Category</option>
            <option
              *ngFor="let superCategory of superCategories"
              [value]="superCategory.superCategoryId"
            >
              {{ superCategory.superCategoryName }}
            </option>
          </select>
        </div>

        <!-- Category -->
        <div class="col-md-3">
          <label for="filterCategory" class="fw-bold text-decoration-underline">Category</label>
          <select
            class="form-select"
            id="filterCategory"
            [(ngModel)]="filters.categoryName"
            name="categoryName"
          >
            <option [value]="null">Select Category</option>
            <option
              *ngFor="let category of categories"
              [value]="category.categoryName"
            >
              {{ category.categoryName }}
            </option>
          </select>
        </div>

        <!-- Apply Filters -->
        <div class="col-md-3 d-flex align-items-end">
          <button class="btn btn-success w-100" type="submit">Apply Filters</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!isLoading && !errorMessage" style="overflow-x: auto">
  <table class="table table-hover">
    <thead class="table-hover">
      <tr>
        <th (click)="sort('productCode')">
          Ürün Kodu
          <span *ngIf="sortColumn === 'productCode'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('productName')">
          Ürün Adı
          <span *ngIf="sortColumn === 'productName'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('productDescription')">
          Açıklama
          <span *ngIf="sortColumn === 'productDescription'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('superCategoryName')">
          Cinsiyet Kategori
          <span *ngIf="sortColumn === 'superCategoryName'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('categoryName')">
          Kategori
          <span *ngIf="sortColumn === 'categoryName'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('unitPrice')">
          Fiyat
          <span *ngIf="sortColumn === 'unitPrice'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('unitsInStock')">
          Stok Miktarı
          <span *ngIf="sortColumn === 'unitsInStock'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('productSize')">
          Boyut
          <span *ngIf="sortColumn === 'productSize'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th (click)="sort('colorName')">
          Renk
          <span *ngIf="sortColumn === 'colorName'">
            {{ sortOrder === "asc" ? "🔼" : "🔽" }}
          </span>
        </th>
        <th>Resimler</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let product of productDetails"
        class="product-row"
        (mouseenter)="showButton = true"
        (mouseleave)="showButton = false"
      >
        <td>{{ product.productCode}}</td>
        <td>{{ product.productName }}</td>
        <td>{{ product.productDescription }}</td>
        <td>{{ product.superCategoryName }}</td>
        <td>{{ product.categoryName }}</td>
        <td>{{ product.unitPrice | currency : "₺ " }}</td>
        <td>{{ product.unitsInStock }}</td>
        <td>{{ product.productSize }}</td>
        <td>{{ product.colorName }}</td>  
        <td>
          <div class="image-container">
            <img
              [src]="product.images[currentImageIndex[product.productId]] "
              alt="{{ product.productName }}"
              class="table-image"
            />
            <button
              *ngIf="showButton"
              class="next-button"
              (click)="nextImage(product.productId)"
            >
              &#8594;
            </button>
          </div>
        </td>
        <td>
          <div class="button-group">
            <button
              class="compact-btn btn-update"
              (click)="updateProduct(product.productStocksId)">
              Güncelle
            </button>
            <button
              class="compact-btn"
              [ngClass]="{
                'btn-danger': product.status,
              }"
              (click)="toggleStatus(product)"
            >
              {{ "Sil" }}
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
