<div class="content">
    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="title mb-0">Ürün Ekle</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="productAddForm">
            <div class="row g-3">
              <!-- Supercategory -->
              <div class="col-md-6">
                <label for="superCategoryId" class="form-label">Cinsiyet Kategorisi</label>
                <select
                  id="superCategoryId"
                  formControlName="superCategoryId"
                  [(ngModel)]="selectedSuperCategoryId"
                  (ngModelChange)="onSuperCategoryChange($event)"
                  class="form-select"
                >
                  <option value="" disabled selected>Üst Kategori Seçin</option>
                  <option *ngFor="let superCategory of superCategories" [value]="superCategory.superCategoryId">
                    {{ superCategory.superCategoryName }}
                  </option>
                </select>
              </div>
  
              <!-- Category -->
              <div class="col-md-6">
                <label for="categoryId" class="form-label">Kategori</label>
                <select
                  id="categoryId"
                  formControlName="categoryId"
                  class="form-select"
                >
                  <option value="" disabled selected>Kategori Seçin</option>
                  <option *ngFor="let category of categories" [value]="category.categoryId">
                    {{ category.categoryName }}
                  </option>
                </select>
              </div>
              
              <!-- Product Code -->
              <div class="col-md-5">
                <label for="productCode" class="form-label">Ürün Kodu</label>
                <input
                  type="text"
                  id="productCode"
                  formControlName="productCode"
                  class="form-control"
                  placeholder="Ürün kodunuzu giriniz"
                />
              </div>

              <!-- Product Name -->
              <div class="col-md-5">
                <label for="productName" class="form-label">Ürün Adı</label>
                <input
                  type="text"
                  id="productName"
                  formControlName="productName"
                  class="form-control"
                  placeholder="Ürün adı giriniz"
                />
              </div>
  
              <!-- Price -->
              <div class="col-md-2">
                <label for="unitPrice" class="form-label">Birim Fiyatı ₺</label>
                <input
                  type="number"
                  id="unitPrice"
                  formControlName="unitPrice"
                  class="form-control"
                  placeholder="Fiyat giriniz ₺"
                />
              </div>
  
              <!-- Product Description -->
              <div class="col-md-12">
                <label for="description" class="form-label">Ürün Açıklaması</label>
                <textarea
                  id="description"
                  formControlName="description"
                  class="form-control"
                  rows="2"
                  placeholder="Ürün açıklaması giriniz"
                ></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer text-end">
          <button
            class="btn btn-primary"
            (click)="add()"
          >
            Ürünü Ekle
          </button>
        </div>
      </div>
    </div>
  </div>
  