<form class="row g-3">
    <!-- Ürün Adı -->
    <div class="col-md-3">
      <label for="productName" class="form-label">Ürün Adı</label>
      <input
        type="text"
        class="form-control"
        id="productName"
        [(ngModel)]="productDetail.productName"
        name="productName"
        placeholder="Ürün adı giriniz"
        required
      />
    </div>
  
    <!-- Super Kategori -->
    <div class="col-md-3">
      <label for="superCategoryName" class="form-label">Üst Kategori</label>
      <select
        id="superCategoryName"
        class="form-select"
        [(ngModel)]="selectedSuperCategoryId"
        (ngModelChange)="onSuperCategoryChange($event)"
        name="superCategoryName"
        required
      >
        <option selected disabled>Üst Kategori seçiniz...</option>
        <option *ngFor="let superCategory of superCategories" [value]="superCategory.superCategoryId">
          {{ superCategory.superCategoryName }}
        </option>
      </select>
    </div>
  
    <!-- Kategori -->
    <div class="col-md-3">
      <label for="categoryName" class="form-label">Kategori</label>
      <select
        id="categoryName"
        class="form-select"
        [(ngModel)]="productDetail.categoryName"
        name="categoryName"
        required
      >
        <option selected disabled>Kategori seçiniz...</option>
        <option *ngFor="let category of categories" [value]="category.categoryName">
          {{ category.categoryName }}
        </option>
      </select>
    </div>
  
    <!-- Fiyat -->
    <div class="col-md-3">
      <label for="unitPrice" class="form-label">Fiyat ₺</label>
      <input
        type="number"
        class="form-control"
        id="unitPrice"
        [(ngModel)]="productDetail.unitPrice"
        name="unitPrice"
        min="0"
        required
      />
    </div>
  
    <!-- Ürün Açıklaması -->
    <div class="col-12">
      <label for="productDescription" class="form-label">Ürün Açıklaması</label>
      <textarea
        id="productDescription"
        class="form-control"
        [(ngModel)]="productDetail.productDescription"
        name="productDescription"
        rows="3"
        placeholder="Ürün açıklaması giriniz"
      ></textarea>
    </div>
  
    <!-- Stok -->
    <div class="col-md-3">
      <label for="unitsInStock" class="form-label">Stok</label>
      <input
        type="number"
        class="form-control"
        id="unitsInStock"
        [(ngModel)]="productDetail.unitsInStock"
        name="unitsInStock"
        min="0"
        required
      />
    </div>
  
    <!-- Renk -->
    <div class="col-md-3">
      <label for="colorName" class="form-label">Renk</label>
      <select
        id="colorName"
        class="form-select"
        [(ngModel)]="productDetail.colorName"
        name="colorName"
        required
      >
        <option selected disabled>Renk seçiniz...</option>
        <option *ngFor="let color of colors" [value]="color.colorId">
          {{ color.colorName }}
        </option>
      </select>
    </div>
  
    <!-- Ürün Boyutu -->
    <div class="col-md-3">
      <label for="filterSize" class="form-label">Size</label>
      <select
        class="form-select"
        id="filterSize"
        [(ngModel)]="productDetail.productSize"
        name="productSize"
      >
        <option selected disabled>Size seçiniz...</option>
        <option *ngFor="let size of sizes" [value]="size.id">{{ size.name }}</option>
      </select>
    </div>
  
    <!-- Durum -->
    <div class="col-3">
      <label class="form-label">Durum</label>
      <div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="statusActive"
            name="status"
            [(ngModel)]="productDetail.status"
            [value]="true"
          />
          <label class="form-check-label" for="statusActive">Aktif</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="statusInactive"
            name="status"
            [(ngModel)]="productDetail.status"
            [value]="false"
          />
          <label class="form-check-label" for="statusInactive">Pasif</label>
        </div>
      </div>
    </div>
  
    <!-- Fotoğraflar -->
    <div class="col-12">
      <label class="form-label">Fotoğraflar</label>
      <ul>
        <li *ngFor="let image of productDetail.images">{{ image }}</li>
      </ul>
    </div>
  
    <!-- Butonlar -->
    <div class="row">
      <div class="col-4 text-start">
        <button type="submit" class="btn btn-primary">Kaydet</button>
      </div>
      <div class="col-4 text-center">
        <button type="button" class="btn btn-secondary">Temizle</button>
      </div>
      <div class="col-4 text-end">
        <button type="button" class="btn btn-danger">Geri</button>
      </div>
    </div>
  </form>
  