<div class="site-section" *ngIf="isLoaded">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="item-entry">
          <img
            [src]="product.imageUrl"
            alt="Image"
            class="img-fluid fixed-size-img"
          />
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-black">{{ product.productName }}</h2>
        <p>{{ product.productDescription }}</p>
        <p>
          <strong class="text-primary h4">{{ product.unitPrice | currency : "₺" }}</strong>
        </p>

        <!-- Size Selection -->
        <div class="mb-1 d-flex">
          <div class="d-flex flex-wrap">
            <label *ngFor="let size of productSizes" class="d-flex align-items-center mr-3 mb-3">
              <input
                type="radio"
                name="shop-sizes"
                [value]="size"
                class="mr-2"
                [disabled]="!isSizeAvailable(size)"
              />
              <span class="text-black">{{ size }}</span>
            </label>
          </div>
        </div>

        <!-- Color Selection -->
        <div class="mb-3 d-flex flex-wrap">
          <label
            *ngFor="let color of colors"
            class="d-flex align-items-center mr-3 mb-3"
          >
            <input type="radio" name="color-selection" [value]="color.colorName" class="mr-2" />
            <div
              class="color-box"
              [style.background-color]="color.colorCode"
              style="width: 20px; height: 20px; border: 1px solid #ccc; margin-right: 5px;"
            ></div>
            <span class="text-black">{{ color.colorName }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
