<div *ngIf="!dataLoaded" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Ürün ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz"
  />
</div>

<div *ngIf="filterText.length > 2" class="alert alert-success">
  {{ filterText }} aradınız
</div>

<table *ngIf="dataLoaded" class="table table-striped">
  <tbody>
    <div class="row">
      <div
        *ngFor="let product of products | filterPipe : filterText"
        class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
        (click)="goToProductDetail(product.productId)"
      >
        <div
          class="card"
          style="width: 18rem; height: 28rem; position: relative"
          (click)="goToProductDetail(product.productId)"
        >
          <!-- Resimler -->
          <div class="image-container">
            <img
              [src]="product.images[currentImageIndex]"
              class="card-img-top"
              alt="{{ product.productName }}"
            />
            <button
              class="slide-btn left"
              (click)="previousImage($event)"
              [disabled]="currentImageIndex === 0"
            >
              &#8249;
            </button>
            <button
              class="slide-btn right"
              (click)="nextImage($event, product.images.length)"
              [disabled]="currentImageIndex === product.images.length - 1"
            >
              &#8250;
            </button>
          </div>

          <!-- Kart içeriği -->
          <div class="card-body">
            <h5 class="card-title">{{ product.productName | uppercase }}</h5>
            <p class="card-text">{{ product.unitPrice | currency : "₺ " }}</p>
          </div>

          <button (click)="addToCart($event, product)" class="add-to-cart-btn">
            +
          </button>
        </div>
      </div>
    </div>
  </tbody>
</table>
