<div *ngIf="!dataLoaded" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Ürün ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz"
  />
</div>

<div *ngIf="filterText.length > 2" class="alert alert-success">
  {{ filterText }} aradınız
</div>


<table *ngIf="dataLoaded" class="table table-striped">
  <tbody>
    <div class="row">
      <div *ngFor="let product of products | filterPipe : filterText" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" (click)="goToProductDetail(product.productId)">
        <div class="card" style="width: 18rem;">
          <img [src]="product.images[0]" class="card-img-top" alt="{{ product.productName }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.productName | uppercase }}</h5>
            <div class="d-flex justify-content-between align-items-center">
            <p class="card-text">{{ product.unitPrice | currency : '₺ ' }}</p>
            <button (click)="addToCart(product)" class="btn btn-success">
              Sepete Ekle
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </tbody>
</table>
