<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems">
                <td class="product-thumbnail">
                  <img
                    [src]="item.product.images[0]"
                    alt="Image"
                    class="img-fluid"
                  />
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black">{{ item.product.productName }}</h2>
                </td>
                <td>{{ item.product.unitPrice | currency }}</td>
                <td>
                  <div class="input-group mb-3" style="max-width: 120px">
                    <div class="input-group-prepend">
                      <button
                        (click)="updateQuantity(item, item.quantity - 1)"
                        class="btn btn-outline-primary js-btn-minus"
                        type="button"
                      >
                        &minus;
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control text-center"
                      [value]="item.quantity"
                      aria-label="Quantity"
                      aria-describedby="button-addon1"
                    />
                    <div class="input-group-append">
                      <button
                        (click)="updateQuantity(item, item.quantity + 1)"
                        class="btn btn-outline-primary js-btn-plus"
                        type="button"
                      >
                        &plus;
                      </button>
                    </div>
                  </div>
                </td>
                <td>{{ item.product.unitPrice * item.quantity | currency }}</td>
                <td>
                  <button
                    (click)="removeItem(item)"
                    class="btn btn-primary height-auto btn-sm"
                  >
                    X
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
