<div class="site-section">
  <div class="container">
    <div *ngIf="isLoading">
      <p>Sepet yükleniyor...</p>
    </div>
    <div *ngIf="cartItem?.length > 0">
      <div class="row mb-5">
        <form class="col-md-12">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-total">Total Price</th>
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cartItem">
                  <td class="product-thumbnail">
                    <img
                      *ngIf="item.images && item.images.length > 0"
                      [src]="item.images[0]"
                      alt="{{ item.productName }}"
                      class="img-fluid"
                    />
                    <span *ngIf="!item.images || item.images.length === 0"
                      >No Image</span
                    >
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black">{{ item.productName }}</h2>
                  </td>
                  <td>
                    {{ item.unitPrice | currency : "TRY" : "symbol" : "1.2-2" }}
                  </td>
                  <td>
                    <div class="input-group mb-3" style="max-width: 120px">
                      <div class="input-group-prepend">
                        <button
                          (click)="updateQuantity(item.productStocksId, -1)"
                          class="btn btn-outline-primary js-btn-minus"
                          type="button"
                        >
                          &minus;
                        </button>
                      </div>
                      <input
                        type="text"
                        class="form-control text-center"
                        [value]="item.quantity"
                        readonly
                      />
                      <div class="input-group-append">
                        <button
                          (click)="updateQuantity(item.productStocksId, 1)"
                          class="btn btn-outline-primary js-btn-plus"
                          type="button"
                        >
                          &plus;
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>
                    {{
                      item.quantity * item.unitPrice
                        | currency : "TRY" : "symbol" : "1.2-2"
                    }}
                  </td>
                  <td>
                    <button
                      (click)="removeItem(item)"
                      class="btn btn-primary height-auto btn-sm"
                    >
                      X
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="cart">
            <h3>
              Toplam Fiyat:
              {{ cart.totalPrice | currency : "TRY" : "symbol" : "1.2-2" }}
            </h3>
            <div>
              <button class="btn btn-danger" (click)="clearCart()">Sepeti Temizle</button>
              <button class="btn btn-success">Öde</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="!cartItem || cartItem.length === 0">
      <p>Sepetiniz boş.</p>
    </div>
    <div *ngIf="errorMessage">
      <p class="text-danger">{{ errorMessage }}</p>
    </div>
  </div>
</div>
