<div class="top" *ngIf="loadingSalah">
  <div class="container">
    <div class="row">
      <div class="col-lg-1">ANKARA:</div>
      <div class="col-lg-1">{{vakitModel[0].vakit}}:{{vakitModel[0].saat}}</div>
      <div class="col-lg-1"></div>
      <div class="col-lg-1">{{vakitModel[1].vakit}}:{{vakitModel[1].saat}}</div>
      <div class="col-lg-1"></div>
      <div class="col-lg-1">{{vakitModel[2].vakit}}:{{vakitModel[2].saat}}</div>
      <div class="col-lg-1"></div>
      <div class="col-lg-1">{{vakitModel[3].vakit}}:{{vakitModel[3].saat}}</div>
      <div class="col-lg-1"></div>
      <div class="col-lg-1">{{vakitModel[4].vakit}}:{{vakitModel[4].saat}}</div>
      <div class="col-lg-1"></div>
      <div class="col-lg-1">{{vakitModel[5].vakit}}:{{vakitModel[5].saat}}</div>
    </div>
  </div>
</div>

<div class="container">
  <app-navi></app-navi>
  <!-- 12 satır -->
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
