<div class="forgot-password-container">
  <h1>Şifremi Unuttum</h1>
  <form (ngSubmit)="password()">
    <label for="password1">Yeni Şifre</label>
    <input
      type="password"
      id="password1"
      [(ngModel)]="password1"
      name="password1"
      placeholder="Yeni şifrenizi giriniz"
      (ngModelChange)="checkPasswords()"
      required
    />

    <label for="password2">Yeni Şifre Tekrar</label>
    <input
      type="password"
      id="password2"
      [(ngModel)]="password2"
      name="password2"
      placeholder="Şifrenizi tekrar giriniz"
      (ngModelChange)="checkPasswords()"
      required
    />

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

    <button type="submit" [disabled]="!isButtonEnabled">Gönder</button>
  </form>
</div>
